body{padding-top:20px;}

.imgss {
    display: block;
    max-width:2350px;
    min-height:250px;
    max-height:250px;
    width: auto;
    height: auto;
}

.imgss_Cart{
    display: block;
    max-width:50px;
    min-width:50px;
    min-height:50px;
    max-height:50px;
}